<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>
      <%= current_page.data.title || "Pauline Eustachy - #{data.me.job.name.capitalize} #{data.me.job.speciality} #{data.me.job.level}" %>
    </title>
    <%= favicon_tag "../images/favicon.png" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <script src="https://kit.fontawesome.com/de5affd924.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%= yield %>

  </body>
</html>
