<% category.content.each do |c| %>
  <div class="project">
    <div class="project-description">
      <h4 class="project-title">
        <%= c.name if c.name %>
      </h4>

      <% if c.description && c.technos %>
        <p>
          <%= c.description %>
        </p>
        <p>
          <%= c.technos %>
        </p>
      <% end %>
    </div>
    <div class="links">
      <% if c.site %>
        <a href="<%= c.site[0] %>" target="_blank">
          site
        </a>
      <% end %>

      <% if c.video %>
        <a href="<%= c.video[0] %>" target="_blank">
          video
        </a>
      <% end %>

      <% if c.code %>
        <a href="<%= c.code[0] %>" target="_blank">
          code
        </a>
      <% end %>
    </div>
  </div>
<% end %>
