<div class="section head-section">
  <div class="headings">
    <h2>
      Pauline
      <br>
      Eustachy
    </h2>
    <h1>
      <%= data.me.job.name %>
      <br>
      <%= data.me.job.speciality %>
      <br>
      <%= data.me.job.level %>
    </h1>
  </div>
  <div class="shape banner-shape"></div>
  <div class="photo"></div>
</div>

<% data.me.categories.each do |category| %>
  <% if category.name == 'projets' %>
    <div class="shape shape-left">
      <div class="inner-shape">
        <div class="text">
          Découvrez
          <br>
          mon travail
          <br>
          en détails.
        </div>
        <div class="links">
          <a href="https://github.com/Powlinett">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/pauline-eustachy/">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
  <% end %>
  <div class="section category-section" id="<%= category.name %>">
    <div>
      <h3 class="category-heading">
        <%= category.name %>
      </h3>
    </div>
    <div class="category-layout <%= category.name %>-layout">
      <% case category.name %>
        <% when 'technos' %>
          <%= partial 'partials/techno_cards', locals: { category: category } %>
        <% when 'projets' %>
          <%= partial 'partials/project_cards', locals: { category: category } %>
        <% when 'parcours' %>
          <%= partial 'partials/parcours_cards', locals: { category: category } %>
      <% end %>
    </div>
  </div>
  <% if category.name == 'projets' %>
    <div class="shape shape-right">
      <div class="inner-shape">
        <div class="text">
          <div>
            Une question ?
          </div>
          <div>
            Ou un conseil ?
          </div>
          <div>
            Dites-moi tout !
          </div>
        </div>
        <div class="links">
          <a href="tel: +33678615188">
            <i class="fas fa-mobile-alt"></i>
          </a>
          <a href="#">
            <i class="fab fa-slack"></i>
          </a>
          <a href="mailto: pauline.eustachy@gmail.com">
            <i class="fas fa-at"></i>
          </a>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="section">
  <h3 class="category-heading">
    à bientôt
  </h3>
</div>
