<%= partial 'partials/shape_left' %>
<%= partial 'partials/shape_right' %>

<div class="section head-section">
  <div class="headings">
    <h2>
      Pauline Eustachy
    </h2>
    <h1>
      <%= data.me.job.name %>
      <br>
      <%= data.me.job.speciality %>
      <br>
      <%= data.me.job.level %>
    </h1>
  </div>
  <img src="images/photo.png" class="photo" alt="Pauline Eustachy">
  <%= partial 'partials/media_links' %>
</div>

<% data.me.categories.each do |category| %>
  <div class="section category-section" id="<%= category.name %>">
    <div>
      <h3 class="category-heading">
        <%= category.name %>
      </h3>
    </div>
    <div class="category-layout <%= category.name %>-layout">
      <% case category.name %>
        <% when 'infos' %>
          <%= partial 'partials/infos', locals: { category: category } %>
        <% when 'technos' %>
          <%= partial 'partials/techno_cards', locals: { category: category } %>
        <% when 'projets' %>
          <%= partial 'partials/project_cards', locals: { category: category } %>
        <% when 'parcours' %>
          <%= partial 'partials/parcours_cards', locals: { category: category } %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="section">
  <h3 class="category-heading">
    à bientôt
  </h3>
</div>
